@using System.Security.Claims
@using System.Security.Cryptography
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="~/ballon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>

<body class="body-img">
    @* Navbar *@
    <header class="header">
        <div class="left-section">
            <a class="home-link" href="@Url.Action("Index", "Home")">
                <img class="iShariu-logo" src="~/ballon.ico">
                <p class="project-name">ЯШарю</p>
            </a>
        </div>

        <div class="middle-section">
            <a class="nav-item" href="@Url.Action("Index", "Course")">Courses</a>
            <p class="nav-item">About us</p>
            <p class="nav-item">Contact</p>
        </div>

        <div class="right-section">
            @if (User.Identity.IsAuthenticated)
            {
                var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

                @if (Model != null && !string.IsNullOrEmpty(Model.ProfileColor))
                {
                    <div class="dropdown">
                        <div class="m-lg-5 profile-picture" style="background-color: @Model.ProfileColor;" data-toggle="dropdown">
                            @Model.Username.Substring(0, 1).ToUpper()
                        </div>
                        <div class="dropdown-menu dropdown-menu-right styled-dropdown">
                            <a class="dropdown-item" href="@Url.Action("UserProfile", "Account", new { id = userId })">
                                <i class="fas fa-user"></i> Profile
                            </a>
                            @if (User.IsInRole("admin"))
                            {
                                <a asp-action="index" asp-controller="admin" class="dropdown-item">
                                    <i class="fas fa-tools"></i> Admin panel
                                </a>
                            }
                            <a class="dropdown-item" href="@Url.Action("UserSettings", "Account", new { id = userId })">
                                <i class="fas fa-cog"></i> Settings
                            </a>
                            <a asp-action="logout" asp-controller="account" class="dropdown-item">
                                <i class="fas fa-sign-out-alt"></i> Log out
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                <a asp-action="signin" asp-controller="account"><button class="btn-sign-in">Sign in</button></a>
                <a asp-action="register" asp-controller="account"><button class="btn-sign-up">Sign up</button></a>
            }
        </div>
    </header>

    @* Main page *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>