@using System.Security.Claims
@model IEnumerable<Course>
@{
    ViewData["Title"] = "Courses";
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
}
@if (User.IsInRole(UserRole.Creator))
{
    <a class="btn btn-danger" style="margin-top: 5em;" href="@Url.Action("Create", "Course")">Create course</a>
}


<div class="card-group row">
    @for (int i = 0; i < Model.Count(); i++)
    {
        var course = Model.ElementAt(i);
        var creator = ViewBag.Creator[i];
        <div class="col-md-3">
            <div class="card">
                <a href="@Url.Action(action: "Lessons", controller: "Course", values: new { id = course.Id })">
                    <img src="@(course.CourseImage != null ? course.CourseImage : "/img/no-image.png")" class="card-img-top blurry-image" alt="card-img">
                </a>
                <div class="card-body">
                    <h5 class="course-tale"><img src="img/play.png" class="play-img" alt="play-img">@course.LessonIds.Count()x Lessons</h5>
                    <p class="course-name">
                        <a class="text-decoration-none text-black" 
                           href="@Url.Action(action: "Lessons", controller: "Course", values: new { id = course.Id })">
                            @course.CourseName
                        </a>
                    </p>
                    <div class="line"></div>
                    @if (creator != null)
                    {
                        <p class="course-creator">
                            <img src="img/user.png" class="user-img" alt="user-img">
                            <a class="text-decoration-none text-black" 
                               href="@Url.Action(action: "UserProfile", controller: "Account", values: new { Id = course.CreatorId })">
                                @creator.Username
                            </a>
                        </p>
                        
                        @if (course.CreatorId == currentUserId)
                        {
                            <a class="btn btn-danger" href="@Url.Action(action: "EditCourse", "Course", new { courseId = course.Id })">
                                Edit
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-shariu" 
                               href="@Url.Action(action: "AddToLibrary", controller: "Course", values: new { userId = currentUserId, course.Id })">
                                Add to Library
                            </a>
                        }
                    }
                    else
                    {
                        <p class="course-creator">
                            <img src="img/user.png" class="user-img" alt="user-img">
                            Deleted User
                        </p>
                        
                        <a class="btn btn-shariu" 
                           href="@Url.Action(action: "AddToLibrary", controller: "Course", values: new { userId = currentUserId, course.Id })">
                            Add to Library
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>
